---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
<style>
      .container2 {
        position: relative;
        text-align: center;
        color: white;
      }
      /* .container3 {
        max-width: 10em;
      } */

      .centered {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .new__title{
        font-size:8.5em;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color:#fff
      }
</style>


  {% include head.html %}

  <body class="site">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}

    <!-- <div class="hero lazyload" data-bg="{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.hero_img }}">
      <div class="hero__wrap">
        <h1 class="hero__title">{{ site.title | escape }}</h1>
        <p class="hero__meta">{{ site.tagline }}</p>
        <p style="margin:0; padding:0; font-size: 6.5em; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">water</p>
        <p style="margin:0; padding:0; font-size: 6.5em; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">colors</p>
      </div>
    </div> -->




    <!-- TEST -->
    <div class="container2">
      <!-- <img src="{{site.baseurl}}/assets/img/posts/portada_thin.png" style="width:100%;"> -->
      <img src="{{site.url}}{{site.baseurl}}/assets/img/posts/portada_thin.jpg" style="width:100%;">
      <div class="centered">
        <h1 class="new__title" style="width: 200px; line-height: 75%; text-align: center;">water color</h1>
      </div>
    </div>

    <main class="site__content">
      <section class="blog">
        <div class="container">
          <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">

            {% for post in site.posts %}
              {% include card.html %}
            {% endfor %}

            <!-- {% include pagination.html %} -->
          </div>
        </div>
      </section>
    </main>

    {% include footer.html %}

  </body>

</html>
